<div class="users">
  <h1><%= @user.name %></h1>
  <h3><%= @user.email %></h3>
  <p><%= @user.created_at %></p>
  <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
</div>
<div class='col-md-7'>
    <h3><%= "#{@user.name.capitalize}'s" %> Friends</h3>
    <ul>
    <%@friendships = Friendship.where(user_id: @user.id, confirmed: true)%>
      <% @friendships.each do |user| %>
      <% x = User.find_by(id: user.friend_id)%>
        <li>
          <p><strong><%= "#{x.name}" %> </strong><%="#{x.email}" %> </p>
          <p><%= link_to 'Profile', user_path(x) %></p>
        </li>
      <% end %>
    </ul>
  </div>
  <%if @user != current_user %>
    <div class='col-md-5'>
      <h3>Mutual Friends</h3>
      <% @mutual_friendships = Friendship.where(user_id: current_user, confirmed: true, friend_id: (Friendship.where(user_id: @user.id, confirmed: true).select('friend_id'))) %>
      <%if @mutual_friendships%>
        <ul>
          <% @mutual_friendships.each do |user| %>
            <li>
            <% x = User.find_by(id: user.friend_id)%>
              <p>
                <%= link_to "#{x.name}", user_path(x) %> 
                <%= x.email %>
              </p>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>You don't have Mutual Friends</p>
      <% end %>
    </div>
  <%end%>
<div class="row"><%= render "posts/index" %></div>