<li id="post-<%= post.id %>" class='container post' >
  <div class=" post container">
          <div class="row postbar">
            <div class="col-4 my-auto name"> <%= link_to "#{post.user.name}".html_safe , user_path(post.user), class: "btn btn-success" %></div>
            <% if post.user == current_user %>
              <div class="col-1 my-auto"><%= link_to "Edit", edit_post_path(post), class: "btn btn-warning btn-xs" %></div>
              <div class="col-1 my-auto"><%= link_to "Delete", post_path(post), class: "btn btn-danger btn-xs", method: :delete, action: :destroy %></div>
            <% end %>
            <% if post.created_at != post.updated_at %>
              <div class="col-3 my-auto"><%= post.updated_at.strftime("Updated at: %d/%m/%Y") %></div>
            <% end %>
            <div class="col-3 my-auto"><%= post.created_at.strftime("Posted at: %d/%m/%Y") %></div>
          </div>
          <div row post-content>
          <h5><%= post.content %><h5>
          </div>
        </div>
</li>