<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
        <%= link_to "Fakebook", 'feed#index', class: 'navbar-brand', id: 'logo' %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Hi,#{current_user.name}", user_path(current_user) %></li>
          <li><%= link_to "Users", 'users#index' %></li>
          <li>
            <%= link_to "Friends", friendships_path %>
            <%if current_user.friend_requests.count > 0 %>
              <span>
                <%= current_user.friend_requests.count %>
              </span>
            <%end%>
          </li>
          <li><%= link_to "Feed", 'feed#index' %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>