<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Fakebook</a>
        </div>
        <span class="nav navbar-nav">
        <span class="nav-item"><%= link_to 'Home', feed_path %></span>
        <% if signed_in? %>
          <span class="nav-item"><%= link_to 'Create a new post', posts_path %></span>
        <%end%>
        </span>
        <span class="nav navbar-nav navbar-right">
        <% if signed_in? %>
            <span class="nav-item"><%= link_to "#{current_user.name}'s Feed", current_user %></span>
            <span class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></span>
        <% else %>
            <span class="nav-item"><%= link_to new_user_session_path do %> <span>Login <% end %></span>
            <span class="nav-item"><%= link_to new_user_registration_path do %> <span>Sign Up <% end %></span>
          <% end %>
        </span>
      </div>
    </nav> 
    <% if notice%>
      <p class="alert alert-success"><%= notice %></p>
    <%end%>
    <% if alert%>
      <p class="alert alert-danger"><%= notice %></p>
    <%end%>
    <%= yield %>
  </body>
</html>
