<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Your First Name" %>
  </div>
  <div class="field">
    <%= f.text_field :l_name, autofocus: true, autocomplete: "name", placeholder: "Your Last Name" %>
  </div>
  <div class="field">
    <%= f.date_field :birthday, autocomplete: "Birthday"%>
  </div>
  <div class="field">
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
  </div>
  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", class: "btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
